.new_order_page_container{
    width: 100%;
    display: flex; 
    height: 92vh;
  justify-content: center;

}

.categories {
  display: flex;
  flex-direction: column;
  width: 23%;
  align-items: center;
justify-content: flex-start;
gap: 40px;
border: 1px solid steelblue; ;
border-radius: 10px;
margin:5px 5px;
background-color: aliceblue;
  }
  
  .category {
   font-size: 20px;
    cursor: pointer;

  }

  .category.active {
    text-decoration: underline;
  }
  
  .items {
    display: flex;
    width: 34%;
    align-items:flex-start;
    justify-content: space-around;
    border: 1px solid steelblue; 
    border-radius: 10px;
margin:5px 5px;
background-color: aliceblue;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    gap: 70px;
    margin-bottom: 20px;
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
  }

  .item-details button{
    padding: 10px;
    background-color:steelblue;
    border: none;
    color: white;
    font-size: 16px;
  }
  
  .item-title {
    font-weight: bold;
  }
  
  .item-price {
    color: #888;
  }
  
  .add_to_cart_container {
    display: flex;
    flex-direction: column;
    width: 38%;
    align-items: center;
    align-items: center;
    border: 1px solid steelblue; 
    border-radius: 10px;
    margin:5px 5px;
    background-color: aliceblue;
  }


  .add_to_cart_container .top_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: light rgb(192, 192, 192);
  }

   .add_to_cart_container .bottom_container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-size: 20px;

   }

   .add_to_cart_container .bottom_container .content p{
    margin: 10px;
   }


   .add_to_cart_container .bottom_container .counter{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 15px;

   }

   .add_to_cart_container .bottom_container .counter button{
    font-size: 16px;
    padding: 10px;
    background-color:steelblue;
    color: white;

   }



.checkout__container{
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin-left: 120px;
}

   
   .add_to_cart_container .checkout__container .btn__container{
    flex: 0.4;
    
   }

   .add_to_cart_container .checkout__container .btn__container button{
    width: 100%;
    background-color:steelblue;
    color: white;
    padding: 10px;
   }
   .content{
    display: flex;
   }

.bottom_container div{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;
}
.bottom_container div:nth-of-type(2){
  flex-basis:300px;
}
.itemsh1{
  text-align: center;
}
.iconheader{
display: inline;
}


.logo{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color:steelblue;
  color: white;
  margin-top: 20px;
}
.icon1{
  text-align: center;
  margin-top: 30px;
}