.order_history_page_container{
   
   width: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sidebar__container{
    height: 92vh;
    width: 20%;
    border: 1px solid steelblue; 
    border-radius: 10px;
    margin:5px 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.sidebar__container .logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color:steelblue; 
}

.sidebar__container button{
    background-color:steelblue;
    color: white;
    padding: 18px;
}
.sidebar__container button:hover{
   cursor: pointer;
}



.sidebar__container .logo p{
    color: white;
}
.order__history__container{
    width: 37%;
    height:90vh;
    padding: 10px;
    overflow-y: scroll;
    border: 1px solid steelblue; 
    border-radius: 10px;
    margin:5px 5px;
    background-color: white;


}


.order__history__container .order__history{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background-color: white;
   
}
.order__history:hover{
background-color:aliceblue;
cursor: pointer;
}
.order__history{
border-bottom: 1px solid aliceblue;
}


.order__details__container{
    width: 37%;
    padding: 10px;
    border: 1px solid steelblue; 
    border-radius: 10px;
    margin:5px 5px;
    background-color: white;
    
}
.bottom__container{
    display: flex;
    flex-direction: column;
}
.product{
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid aliceblue;
}
.product p{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
}
.product p:nth-of-type(2){
    flex-basis:300px;
}

.order__total{
    display: flex;
   justify-content:flex-end;
   gap:30px;
   margin-right: 10px;
}